
<style>
::highlight(find-highlight) {
    background-color: var(--vscode-editor-findMatchBackground, rgba(234, 92, 0, 0.33));
}

::highlight(current-find-highlight) {
    background-color: var(--vscode-editor-findMatchHighlightBackground, #a8ac94);
}

#container .cell_container {
    width: 100%;
}

#container .output_container {
    width: 100%;
}

#container > div > div > div.output {
    font-size: var(--notebook-cell-output-font-size);
    width: var(--notebook-output-width);
    margin-left: var(--notebook-output-left-margin);
    background-color: var(--theme-notebook-output-background);
    padding-top: var(--notebook-output-node-padding);
    padding-right: var(--notebook-output-node-padding);
    padding-bottom: var(--notebook-output-node-padding);
    padding-left: var(--notebook-output-node-left-padding);
    box-sizing: border-box;
    border-top: none;
    border-style: dashed;
    border-color: gainsboro;
}

/* markdown */
#container div.preview {
    width: 100%;
    padding-right: var(--notebook-preview-node-padding);
    padding-left: var(--notebook-markdown-left-margin);
    padding-top: var(--notebook-preview-node-padding);
    padding-bottom: var(--notebook-preview-node-padding);

    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;

    font-size: var(--notebook-markup-font-size);
    color: var(--theme-ui-foreground);
    
    border-left: dotted darkorange;
    background-color: white;
}

#container div.preview.draggable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: grab;
}

#container div.preview.selected {
    background: var(--theme-notebook-cell-selected-background);
}

#container div.preview.dragging {
    background-color: var(--theme-background);
    opacity: 0.5 !important;
}

.monaco-workbench.vs-dark .notebookOverlay .cell.markdown .latex img,
.monaco-workbench.vs-dark .notebookOverlay .cell.markdown .latex-block img {
    filter: brightness(0) invert(1)
}

#container .markup > div.nb-symbolHighlight {
    background-color: var(--theme-notebook-symbol-highlight-background);
}

#container > div.nb-cellDeleted .output_container {
    background-color: var(--theme-notebook-diff-removed-background);
}

#container > div.nb-cellAdded .output_container {
    background-color: var(--theme-notebook-diff-inserted-background);
}

#container > div > div:not(.preview) > div {
    overflow-x: auto;
}

#container .no-renderer-error {
    color: var(--vscode-editorError-foreground);
}

body {
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #fdfdfd ;
}

table, thead, tr, th, td, tbody {
    border: none !important;
    border-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

table, th, tr {
    vertical-align: middle;
    text-align: left !important;
}

thead {
    font-weight: bold;
    background-color: rgba(130, 130, 130, 0.16);
}

th, td {
    padding: 4px 8px;
}

tr:nth-child(even) {
    background-color: rgba(130, 130, 130, 0.08);
}

tbody th {
    font-weight: normal;
}

.find-match {
    background-color: var(--vscode-editor-findMatchHighlightBackground);
}

.current-find-match {
    background-color: var(--vscode-editor-findMatchBackground);
}

#_defaultColorPalatte {
    color: var(--vscode-editor-findMatchHighlightBackground);
    background-color: var(--vscode-editor-findMatchBackground);
}
</style>